table,
th,
td {
  border: 1px solid;
}

.large-text-wrap {
  inline-size: 600px;
}

.primary-button {
  background-color: aquamarine;
  padding: auto;
  border-radius: 5px;
}

.secondary-button {
  background-color: aliceblue;
  padding: auto;
  border-radius: 5px;
}